.appointment {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 2px;
}


.appointment__title {
    font-weight: 700;
}

.appointment__info {
    font-weight: 100;
}
