html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    min-height: 100%;
    padding-bottom: 5rem;
}

h1, h2  {
    color: white;
    padding: 3rem 0;
    text-align: center;
  
    text-transform: uppercase;
  
    font-family: 'Staatliches', cursive;
    letter-spacing: 1px;
}

label {
    color: white;
  }
  
input[type="date"],
input[type="time"] {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}